/*Global*/

html, body, #wrapper, #page-wrapper{
	height: 100%;
}

.footer{
	position: fixed;
	left: 220px;
}

#page-wrapper{
	min-height: 0;
}

.ibox-title{
	/*border-color: #2f4050;*/
	border-color: #ed5565;
}

textarea{
	resize: none;
}