/*Global*/

html, body, #wrapper, #page-wrapper{
	height: 100%;
}

.footer{
	position: fixed;
	left: 220px;
}

.ibox-title{
	/*border-color: #2f4050;*/
	border-color: #ed5565;
}

textarea{
	resize: none;
}

textarea.form-control{
	height: 80px;
}

.col-lg-4:hover .contact-box {
	box-shadow: #2f4050 4px 4px 4px;
}

.contact-box{
	height: 200px;
	overflow: hidden;
}

.img-circle-product{
	width: 35%;
	display: inline;
}

.user-select-none{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.cursor-pointer{
	cursor: pointer;
}

#sortables { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortables li { margin: 3px 3px 3px 3px; padding-left: 1.5em; padding-top: 0.4em; padding-bottom: 0.4em; font-size: 1.4em; height: 1.8em; }
#sortables li span { position: absolute; margin-left: -1.3em; }

.sort-products>*{
	background: none !important;
}