/*Global*/

html, body, #wrapper, #page-wrapper{
	height: 100%;
}

.footer{
	position: fixed;
	left: 220px;
}

.ibox-title{
	/*border-color: #2f4050;*/
	border-color: #ed5565;
}

textarea{
	resize: none;
}

textarea.form-control{
	height: 80px;
}

.col-lg-4:hover .contact-box {
	box-shadow: #2f4050 4px 4px 4px;
}

.contact-box{
	height: 200px;
	overflow: hidden;
}

.img-circle-product{
	width: 35%;
	display: inline;
}